.header {
  background-color: var(--white-color);
  color: var(--white-color);
  width: 100%;
  height: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-light-color);
  font-size: 1.2em;
  box-shadow: 0 4px 6px -6px #222;
  margin-bottom: 2em;
  padding: 0 1em;
  
  .logo_container {
    display: flex;
    align-items: center;

    p {
      font-weight: bold;
      font-size: 1.5em;
    }
    
    .logo {
      width: 3em;
      margin-left: 10px;
    }

  }

  .theme_container {
    position: relative;
    width: 64px;
    margin: 4px auto;

    button {
      width: 32px;
      height: 32px;
      background: var(--white-color) url(../../assets/sun.svg) no-repeat center;
      border: 0;
      border-radius: 50%;

      position: absolute;
      top: 50%;
      left: 0;
      z-index: 1;
      transform: translateY(-50%);

      animation: slide-in 0.2s forwards;

      &:hover {
        outline: 8px solid rgba(97, 218, 251, 0.5);
      }
    }

    span {
      display: block;
      width: 64px;
      height: 24px;
      background: rgba(255, 255, 255, 0.05);
      border: solid 1px rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      border-radius: 99999px;
    }
  }

  .language_container {
    position: relative;
    height: 100%;
    min-width: 15%;

    .language_text {
      border: 1px solid var(--primary-light-color);
      border-radius: 15px;
      height: 100%;
      user-select: none;
      display: flex;
      justify-content: center;

      .language_data {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        img {
          margin-left: 10px;
        }

        &::before {
          content: '';
          position: absolute;
          bottom: 10px;
          left: 0;
          width: 0;
          height: 2px;
          background-color: var(--primary-light-color); 
          transition: width 0.3s ease-in-out; 
        }

        &:hover::before {
          width: 100%; 
        }
      }
    }

    .language_modal {
      position: absolute;
      border-left: solid 1px var(--primary-light-color);
      border-right: solid 1px var(--primary-light-color);
      border-bottom: solid 1px var(--primary-light-color);
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      width: 100%;
      top: 100%;
      left: 0;
      display: flex;
      flex-direction: column;
      gap: 5px;
      
      div {
        cursor: pointer;
        user-select: none;

        
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 1em;

        p {
          flex: 1;
          position: relative;

          &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background-color: var(--primary-light-color); 
            transition: width 0.3s ease-in-out; 
          }
  
          &:hover::before {
            width: 85%; 
          }
        }
      }
    }
  }
}

.hide {
  display: none;
}

.dark {
  background-color: var(--dark-bg-color);
  color: var(--primary-dark-color);
  box-shadow: 0 6px 6px -6px var(--white-color);

  .logo_container {   
    .logo {
      opacity: 0.8;
    }
  }

  .theme_container {
    button {      
      animation: slide-back 0.2s forwards;

      &:hover {
        outline: 8px solid var(--secondary-dark-color);
      }
    }

    span {
      background: var(--secondary-dark-color);
    }
  }

  .language_container {
    .language_text {
      border: 1px solid var(--primary-dark-color);

      .language_data {
        &::before {
          background-color: var(--primary-dark-color); 
        }
      }
    }

    .language_modal {
      border-left: solid 1px var(--primary-dark-color);
      border-right: solid 1px var(--primary-dark-color);
      border-bottom: solid 1px var(--primary-dark-color);
      
      div {
        p {
          &::before {
            background-color: var(--primary-dark-color); 
          }
        }
      }
    }
  }
}
  
/* animation */
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}