.App { 
  background-color: var(--white-color);
  height: 100vh;

  main {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 5em;
    
    h1 {
      margin-bottom: 1em;
    }

    .generate_card_button {
      padding: 0.5em 2em;
      border-radius: 1em;
      background-color: var(--white-color);
      font-weight: bold;
      transition: border-color 0.2s ease;
      border: 2px solid rgb(81, 214, 255);
      
      &:hover {
        border-color: rgb(104, 176, 224);
      }
    }

    .cards_container {
      width: 50%;
      display: flex;
      flex-direction: column;

      .card_container {
        display: flex;
        margin-top: 1em;

        border: 2px solid var(--primary-light-color);
        padding: 1em;
        border-radius: 15px;

        section {
          line-height: 1.5;
        }

        .images {
          display: flex;
          flex-direction: column;
          align-items: center;


          img {
            width: 72px;
            border-radius: 50%;
          }

          .icon_container {
            margin-top: 10px;
            color: var(--white-color);            
          } 
        }

        .data_container {
          display: flex;
          flex: 1;
          margin-left: 1em;
          padding: 1em;

          .data {
            width: 40%;
          }

          div {
            div {
              display: flex;

              p {
                &:first-child {
                  margin-right: 5px;
                  text-decoration: underline;
                }
              }
            }
          }

          .address {
            border-left: 2px dashed var(--primary-light-color);
            padding-left: 15px;
            display: flex;
            flex: 1;
            justify-content: space-between;
            align-items: center;

            .address_span {
              text-decoration: underline;
            }

            .country_flag {
              border-left: 2px dashed var(--primary-light-color);
              height: 100%;
              padding-left: 15px;
              display: flex;
              align-items: center;
            }
          }
        }
      }
    }
  }
}

.male_icon, .female_icon {
  display: flex;
  padding: 5px;
  border-radius: 50%;
}

.male_icon {
  background-color: rgba(0, 0, 255, 0.76);
}

.female_icon {
  background-color: rgba(252, 46, 224, 0.664);
}

.dark {
  background-color: var(--dark-bg-color);

  main {
    background-color: var(--dark-bg-color);
    
    h1 {
      color: var(--white-color);
    }

    .generate_card_button {
      border: 2px solid var(--white-color);
      padding: 0.5em 2em;
      border-radius: 1em;
      background-color: var(--dark-bg-color);
      color: var(--white-color);
      
      transition: all 0.2s ease;
      
      &:hover {
        opacity: 0.7;
        border-color: var(--white-color);
      }
    }

    .cards_container {
      .card_container {
        border-color: var(--gray-border-color);
        color: var(--white-color);

        .data_container {
          .address {
            border-left-color: var(--gray-border-color);

            .country_flag {
              border-left-color: var(--gray-border-color);
            }
          }
        }
      }
    }
  }
}
